.link {
  text-decoration: none;
}

.p {
  top: 30%;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  /* or 18px */

  text-align: center;
  letter-spacing: -0.85px;

  /* title_section */

  color: #242731;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  top: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */

  text-align: center;
  letter-spacing: -0.85px;

  /* title_section */

  color: #242731;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.test{
  top: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  width: 450px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 100%;
}

.input{
  width: 450px;
  height: 30px;
}